
body {
  background-color: #e74c3c;
}

#quote-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 300px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

#x-btn {
  color: rgb(57, 42, 222);
  text-decoration: none;
  margin-left: 5px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
